
  <section class="app-content">
    <div class="clients-search">
      <input type="text" id="clients-search-txt" autofocus>
      <div class="results" id="clients-search-results"></div>
    </div>
  </section>
 
  
  <%= content_for :script do %>
    new app.Clients;
  <% end %>
