<div class="row">
  <section class="app-content">
    <div class="clients-search">
      <input type="text" id="clients-search-txt" autofocus>
      <div class="results" id="clients-search-results"></div>
    </div>
  </section>
  <br>
  <br>
  <br>
  
  <script>
    $(function() {
      new app.Clients;
    });
  </script>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<br>