<div class="row">
  <section class="app-content">
    <div class="clients-search">
      <input type="text" id="clients-search-txt" autofocus>
      <div class="results" id="clients-search-results"></div>
    </div>
  </section>
 <script>
  $(function() {
    new app.Books;
  });
</script>
  
  <%= content_for :script do %>
    new app.Clients;
  <% end %>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<br>