
  
  <section class="app-content">
    <div class="clients-search">
      <input type="text" id="clients-search-txt" autofocus>
      <div class="results" id="clients-search-results"></div>
    </div>
  </section>
  <script>
    $( function() {
    this._input = $('#clients-search-txt');
    this._initAutocomplete();
};

app.Clients.prototype = {
    _initAutocomplete: function() {
        this._input
            .autocomplete({
                source: '/clients/search',
                appendTo: '#clients-search-results',
                select: $.proxy(this._select, this)
            })
            .autocomplete('instance')._renderItem = $.proxy(this._render, this);
    },
    
    _render: function(ul, item) {
        var markup = [
            '<span class="name"> + item.name + </span>',
            '<span class="address"> + item.address + </span>'
        ];
        return $('<li>')
            .append(markup.join(''))
            .appendTo(ul);
    },
    
    _select: function(e, ui) {
        this._input.val(ui.item.name + ' - ' + ui.item.address);
        return false;
    }
} );
  </script>
 
 <div class="ui-widget">
  <label for="clients">Company: </label>
  <input id="clients-search-txt">
</div>
  
  <%= content_for :script do %>
    new app.Clients;
  <% end %>
