$navbar-default-bg: #0059b3;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #FFF;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #FFF;
  text-decoration: none;
}

.center {
  text-align: center;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 9px solid #eaeaea;
  color: #777;
}

footer li:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.client-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.client-name {
  font-weight: bold;
  font-size: 1.2em;
}

.client-address {
  border-top: 2px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.client-status {
  border-top: 2px solid #eaeaea;
  float: right;
  font-weight: bold;
}

.example-excel {
  background-image: asset-url('exampleexcel1.png');
  width: 580px;
  height: 336px;
}