<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Brian Arpaio
    </small>
    <nav>
      <ul>
        <li><%= link_to("Search", root_path) %></li>
        <li><%= link_to("All Companies", clients_path) %></li>
        <li><%= link_to("Add New Company", new_client_path) %></li>
      </ul>
    </nav>
  </footer>
</div>
